.index {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    text-align: center;
}

.index h1 {
    height: 150px;

}

.index h1 img {
    height: 100%;
}

.index h2 {
    color: #666;
    margin-bottom: 200px;
}

.index h2 p {
    margin: 0 0 50px;
    color: #000;
}

.index .ivu-row-flex {
    height: 100%;
}
*{ padding: 0; margin: 0; outline: 0;}

body{
    overflow: hidden;
}

button{
    background: #fff;
    color: #000;
    padding: 10px 30px;
}

p{
    color: #000;
}

.iview_button {
    padding: 5px 10px;
}