/* default */
		html, body {
			height: 100%;
			/*position: relative;*/
		}
		body {
			margin: 0;
			padding: 0;
			scroll-behavior: smooth;
			width: 100%;
			box-sizing: border-box;
		}
		
		#app {
			margin: 50px 200px;
			font-size: 24px;
		}
		.ivu-tabs-mini .ivu-tabs-tab {
			font-size: 30px;
		}