/* default */
		body {
			margin: 0;
			padding: 0;
			scroll-behavior: smooth;
			width: 100%;
			box-sizing: border-box;
		}
		@font-face {
			font-family: 'Oswald';
			src: url('../font/Oswald-Regular.ttf');
		}

		.bg-video {
			position: absolute;
	    top: 0px;
	    left: 0px;
	    bottom: 0px;
	    right: 0px;
	    overflow: hidden;
	    background-size: cover;
	    background-repeat: no-repeat;
	    background-position: 50% 50%;
	    background-image: none;
		}

		.bg-video video {
			margin: auto;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			visibility: visible;
			width: 1922px;
			height: auto;
		}

		.main-bg-video {
			width: 100%;
			height: 100%;
		}

		#app {
			width: 100%;
		}

		.float-right {
			float: right;
		}

		.inlineBlock {
			display: inline-block;
		}

		.font20 {
			font-size: 20px;
		}

		.font600 {
			font-weight: 600;
		}

		.displayNone {
			display: none;
		}

		.container {
			width: 1000px;
			margin: 0 auto;
			position: relative;
		}

		.devicePC {
			display: inline-block;
		}
		.devicePad {
			display: none;
		}

		.feedBackStepsBox.orderOnePC {
			display: none;
		}
		.feedBackStepsBox.orderTwoPC {
			display: none;
		}
		



		/* background setting */
		.app-home-background {
			background-image: url("../images/affiliate-bg-min.jpg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 100%;
			height: 100vh;
			position: relative;
		}

		.hover {
			cursor: pointer;
		}

		/* header setting */
		.app-brand, .app-navbar-center, .app-navbar-right {
			display: inline-block;
			width: 33.33%;
			vertical-align: middle;
		}



		.black_bg {
			background: #000;
			transition: all 0.5s;
		}

		.app-brand {
			text-align: left;
			padding-bottom: 1px;
		}

		.app-navbar-center {
			text-align: center;
		}

		.app-navbar-right {
			text-align: right;
			height: 100%;
			box-sizing: border-box;
			padding-top: 4px;
		}

		.app-header {
			padding: 7px 1.5%;
			white-space: nowrap;
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 11;
			white-space: nowrap;
			box-sizing: border-box;
			height: 70px;
		}

		.app-navbar-center div {
			background: transparent;
			margin: 0;
	    padding: 0;
	    border: none;
	    color: #fff;
	    font-size: 16px;
	    font-weight: 400;
	    letter-spacing: 1px;
	    padding: 15px 25px 22px 25px;
	    display: inline-block;
	    height: 100%;
	    box-sizing: border-box;
	    border-bottom: 2px solid transparent;
		}

		.app-navbar-center div:hover {
			border-bottom: 2px solid #fff;
		}

		.app-navbar-center div.active {
			border-bottom: 2px solid #fff;
		}

		.app-navbar-right .FAQ, .app-navbar-right .instruction, .app-navbar-right .contact, .goToHome {
			color: #fff;
			display: inline-block;
			font-weight: 400;
			font-size: 13px;
			padding: 10px 23px;
			text-align: center;
		}

		.goToHome p {
			margin: 0;
		}

		.goToHome {
			border-radius: 2px;
			box-shadow: 0 15px 13px 0 rgba(0, 0, 0, 0.1);
			border: 1px solid rgba(255, 255, 255, .2);
		}

		.goToHome:hover {
			background: #1a1a1a;
			border-color: rgba(0,0,0,0);
		}


		.app-navbar-right .instruction img {
			vertical-align: text-bottom;
			margin-right: 6px;
		}

		.app-navbar-right .contact {
			background: #d0011b;
			padding: 10px 23px 12px 23px;
			border-radius: 2px;
			margin-right: 5px;
		}

		.ivu-tooltip-inner {
			font-size: 14px;
		}

		/* footer setting */
		.app-footer {
			padding: 0 2% 10px 2%;
			white-space: nowrap;
			position: absolute;
			bottom: 0;
			width: 100%;
			box-sizing: border-box;
		}

		.app-footer-left, .app-footer-center, .app-footer-right {
			width: 33.33%;
			white-space: nowrap;
		}

		.app-footer-left {
			text-align: left;
			float: left;
		}

		.app-footer-center {
			text-align: center;
			color: #fff;
			position: absolute;
			width: 100%;
			margin-top: -112px;
			left: 0;
			z-index: 10;
		}

		.app-footer-right {
			text-align: right;
			color: #b1b1b1;
			float: right;
		}

		.QQhao, .wechat {
			display: inline-block;
			font-size: 14px;
			padding: 11px 12px;
			vertical-align: middle;
		}

		.QQhao img, .wechat img {
			vertical-align: text-bottom;
		}
		.app-footer .QQhao img, .app-footer .wechat img {
			margin-right: 5px;
		}

		.footer-share, .footer-share .shareLogo, .app-footer-right, .app-footer-left, .app-footer-center {
			display: inline-block;
		}
		.footer-share .shareLogo {
			width: 32px;
			height: 32px;
			border-radius: 16px;
			background: #b2b2b2;
			vertical-align: middle;
		}

		.footer-share .shareLogo img {
			margin: 9px;
		}

		.footer-share .shareSlogan {
			color: #fff;
			font-size: 12px;
			font-weight: 400;
			padding: 0 25px 0 13px;
			vertical-align: middle;
			border-right: 1px solid #b1b1b1;
		}
		.carousel {
			display: inline-block;
			padding-left: 20px;
		}
		.carousel .page {
			width: 39px;
			height: 4px;
			background: rgba(255,255,255,.25);
			display: inline-block;
			margin-left: 5px;
		}
		.carousel .page.active {
			width: 74px;
			background: #d0011b;
		}

		.mouse {
			width: 17px;
	    height: 32px;
	    margin: 10px auto;
	    border: 2px solid #fff;
	    border-radius: 50px;
		}

		.mousemove {
			width: 5px;
			height: 5px;
			background: #fff;
			border-radius: 5px;
			margin: 0px auto 0 auto;
		}

		.isolationLine {
			height: 80px;
			width: 1.5px;
			background: rgba(255,255,255,.15);
			margin: 8px auto;
		}

		.nextStepBox p {
			margin: 0;
			font-size: 12px;
			line-height: 1.6;
		}

		@keyframes bounce { 
		  0%, 20%, 40%, 60%, 80%, 100% {transform: translateY(5px);}
		  50% {transform: translateY(20px);}
		}

		.bounce { 
		  -webkit-animation-name: bounce;
		  animation-name: bounce;
		}

		.animated {
			animation-duration: 1.8s;
		}

		.app-section {
			text-align: center;
			height: 100%;
			width: 100%;
			position: relative;
			z-index: 10;
		}

		.app-section:before {
			 content: '';
			 width: 1px;
			 display: inline-block;
			 vertical-align: middle;
			 height: 100%;
		}

		.sloganBox {
			display: inline-block;
			vertical-align: middle;
			text-align: center;
		}

		.app-section .slogan {
			color: #b1b1b1;
			letter-spacing: 2px;
			font-size: 55px;
			font-weight: 400;
			margin: 0 auto;
		}

		.app-section .supplement {
			color: #b2b2b2;
			letter-spacing: .5px;
			margin: 10px 0 0 0;
			font-size: 18px;
		}

		.typewrite {
			color:#fff;
		}

		.typewrite .wrap:after {
			content:'';
			border-right:2px solid #fff;
			animation:blink 800ms step-start 0s infinite;
			-webkit-animation:blink 800ms step-start 0s infinite;
		}
		@keyframes blink {
			40% { opacity:1 }
			50% { opacity:0.0 }
			60%{ opacity:1 }
		}
		@-webkit-keyframes blink{40%{opacity:1}50%{opacity:0.0}60%{opacity:1}}

		/* introduction */
		.introduction {
			background-image: url("../images/affiliate-p1-bg-min.jpg");
			background-position: top left;
			background-repeat: repeat-x;
			position: relative;
			text-align: center;
			padding-bottom: 160px;
			width: 100%;
		}

		/* introduction-accessory */
		.introduction-accessory {
			position: absolute;
			top: 0;
			width: 100%;
		}

		.accessory-world {
			margin-top: 245px;
			width: 100%;
			position: absolute;
			left: 0;
			z-index: 1;
		}

		.accessory-circle {
			margin-top: 170px;
			position: absolute;
			left: 5%;
			width: 90%;
			z-index: 1;
		}

		/* introduction-content-container */
		.introduction-content-container {
			width: 920px;
			height: auto;
			padding: 0;
			margin: auto;
		}

		.component-intro, .component-data-analysis {
			width: 100%;
		}

		.component-intro .main {
			font-size: 64px;
	    font-weight: 600;
	    line-height: 1.03;
	    color: #4a4a4a;
	    margin: 0;
	    padding: 80px 0 20px 0;
		}

		.component-intro .sub {
			font-size: 18px;
			line-height: 1.63;
			color: #666;
			width: 74%;
			margin: 0 auto;
		}

		.component-intro img.example {
			width: 95%;
			margin-top: 85px;
			position: relative;
			z-index: 5;
		}

		/* component-data-analysis */

		.component-data-analysis .main {
			font-size: 36px;
			font-weight: 600;
			line-height: 1.93;
			color: #666;
			margin: 60px 0 0 0;
		}

		.component-data-analysis .sub {
			font-size: 18px;
	    line-height: 1.6;
	    color: #666;
		}

		/* data */
		.data {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: center;
			flex-wrap: wrap;
			position: relative;
			z-index: 5;
			/*padding: 0 10px 10px 10px;*/
		}

		.data .memberTotal, .data .benefitTotal, .data .customerServiceTotal {
			width: 33.3%;
			padding: 40px 0;

		}

		.memberTotal:hover, .benefitTotal:hover, .customerServiceTotal:hover {
			background: #fff;
			box-shadow: 0 20px 60px 0 rgba(208, 2, 27, 0.2);
			border-radius: 6px;
		}

		.data .circle {
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			width: 64px;
			height: 64px;
			margin: 0 auto;
		}

		.data .number {
			font-size: 36px;
			color: #4a4a4a;
			margin: 23px 0 5px 0;
		}

		.data .sub {
			font-size: 16px;
			font-weight: 400;
			color: #4a4a4a;
		}

		.memberTotal .circle {
			background-image: url("../images/group-63.svg");
		}
		.benefitTotal .circle {
			background-image: url("../images/affiliate-p-1-icon-2.svg");
		}
		.customerServiceTotal .circle {
			background-image: url("../images/affiliate-p-1-icon-3.svg");
		}

		.component-data-analysis .isolationLine {
			height: 80px;
			width: 1.5px;
			background: rgba(0, 0, 0, .25);
			margin: 25px auto -22px;
		}

		/* platform_advantage banner */ 
		.banner, .banner_content {
			width: 100%;
		}
		.platform_advantage {
			width: 100%;
			text-align: center;
			background: #fff;
			padding-bottom: 145px;
		}
		.platform_advantage .banner {
			background-image: url("../images/affiliate-p-2-main-bg.svg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center center;
			position: relative;
			width: 100%;
		}
		.platform_advantage .banner-container {
			width: 1058px;
			text-align: left;
			margin: 0 auto;
			padding: 200px 0 65px 0;
		}
		.platform_advantage .banner-container .main {
			font-size: 64px;
			font-weight: 600;
			color: #fff;
			margin: 0;
			padding-bottom: 20px;
		}

		.platform_advantage .banner-container .sub {
			font-size: 18px;
			font-weight: 400;
			color: #fff;
			letter-spacing: 1px;
			width: 49%;
		}

		.platform_advantage .banner-accessory {
			position: absolute;
			top: -57px;
			right: 0;
			width: 55%;
		}

		/* platform_advantage quickEnter */ 
		.quickEnter {
			width: 100%;
			padding-bottom: 169px;
		}

		.quickEnter .feature_intro {
			padding-top: 172px;
		}

		.quickEnter .feature_intro .sub {
			width: 30%;
			margin: 0 auto;
		}

		.feature_intro .main {
			font-size: 36px;
			font-weight: 600;
			line-height: 1.83;
			color: #3d3d3d;
			margin: 0 0 10px 0;
			position: relative;
			z-index: 10;
		}
		.feature_intro .sub {
			font-size: 14px;
			line-height: 1.71;
			color: #666666;
			position: relative;
			z-index: 10;
			letter-spacing: 0.5px;
		}

		.quickEnter .feature_intro .intro_bg {
			position: absolute;
			left: 50%;
			margin-left: -117.29px;
			z-index: 1;
			margin-top: -38px;
		}

		.quickEnter .feature_intro .intro_bg p {
			font-size: 200px;
			line-height: 0.6;
			color: rgba(0,0,0, .1);
			margin: 0;
			font-weight: 700;
			font-family: Oswald, sans-serif;
		}

		/* quickEnter game_category */
		.game_category {
			display: flex;
			flex-direction: row;
			width: 70%;
			margin: 109px auto 0 auto;
			justify-content: space-between;
			flex-wrap: wrap;
		}

		.game_category .flexBox {
			width: 22%;
			padding-bottom: 50px;
		}

		.liveBox, .sportsBox, .lotteryBox, .egameBox, .gameImage {
			width: 100%;
		}

		.gameImage {
			position: relative;
		}

		.gameImage img.mainImage {
			height: 200px;
			position: relative;
			z-index: 5;
		}

		.gameImage img.subImage {
			position: absolute;
			width: 100%;
			z-index: 4;
			max-width: 85%;
			left: 7.5%;
			top: 20px;
		}

		.gameImage img.sub {
			width: 100%;
		}

		.flexItem {
			padding-bottom: 20px;
		}

		.flexItem .main {
			font-size: 24px;
			margin: 0;
			color: #4a4a4a;
			line-height: 1;
		}

		.flexItem .sub {
			font-size: 19px;
			color: #9b9b9b;
			line-height: 1.5;
		}

		.flexBox .gameTitle {
			font-size: 16px;
			color: #4a4a4a;
			line-height: 1.71;
			margin: 0;
		}

		.sportImage {
			animation-delay: .5s;
		}

		.lotteryImage {
			animation-delay: 1.0s;
		}

		.egameImage {
			animation-delay: 1.5s;
		}
		.egameImage img.mainImage  {
			left: -27px;
		}

		/* instantFeedback */
		.instantFeedback {
			width: 100%;
			position: relative;
			display: flex;
			flex-direction: row;
			padding-bottom: 328px;
			justify-content: center;
			flex-wrap: wrap;
		}

		/* feedBackStepsBox */
		.feedBackSteps {
			display: flex;
			flex-direction: row;
			float: right;
		}

		.zIndex5 {
			position: relative;
			z-index: 5;
		}

		.feedBackSteps .bg_Image {
			 position: absolute;
			 width: 80%;
			 max-width: 605px;
			 top: -81px;
			 min-width: 570px;
			 z-index: 4;
		}

		.feedBackSteps .steps {
			width: 33%;
			border-radius: 4px;
	    min-width: 186px;
	    max-width: 202px;
	    min-height: 232px;
	    max-height: 287px;
		}

		.steps .main {
			color: #fff;
			font-size: 16px;
			line-height: 1.5;
			margin: 0;
		}

		.steps .sub {
			color: #fff;
			font-size: 12px;
			line-height: 2;
		}

		.feedBackSteps .stepOne {
	    background-color: #1f8ded;
		}

		.stepOne .mainImage, .stepThree .mainImage {
			padding: 66px 0 53px 0;
		}
		.stepMainBox .mainImage {
			padding: 60px 0 30px 0;
		}

		.feedBackSteps .stepTwo {
			background-color: #0ebdca;
		}

		.stepThree {
			background-color: #5457c1;
		}

		.mainStep {
			background-color: #f16d9a;
			margin-bottom: 19px;
		}

		.stepTwo .mainImage {
			padding: 100px 0 20px 0;
		}

		.stepOneBox {
			padding: 100px 19px 0 0;
		}

		.stepThreeBox {
			padding: 100px 0 0 19px;
		}

		/* feedBackDetails */
		.feedBackDetails {
			width: 50%;
			display: inline-block;
			text-align: left;
			position: relative;
			padding-left: 7%;
		}

		.feedBackStepsBox {
			width: 50%;
			display: inline-block;
			/*padding-right: 100px;*/
		}

		.feedBackDetails .feature_intro .intro_bg p {
			font-size: 200px;
			line-height: 0.6;
			color: rgba(0,0,0, .1);
			margin: 48px 0 0 0;
			font-weight: 700;
			font-family: Oswald, sans-serif;
		}

		.feedBackDetails .feature_intro h3 {
			font-size: 36px;
			font-weight: 600;
			line-height: 1.83;
			color: #3d3d3d;
			margin: 0;
			margin-bottom: 16px;
		}

		.feedBackDetails .feature_intro {
			padding: 95px 0 0 120px;
			position: relative;
		}

		.feedBackDetails .feature_intro .intro_bg {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 4;
		}

		.feedBackDetails .feature_intro .intro_detail {
			position: relative;
			z-index: 5;
		}

		.stepsList li {
			font-size: 16px;
			font-weight: 600;
		  line-height: 1.71;
		  color: #4a4a4a;
		}

		.stepsList {
			margin-top: 37px;
			list-style-type:disc;
		}

		/* clearSystemDistribution */
		.clearSystemDistribution {
			width: 100%;
			text-align: left;
			position: relative;
			display: flex;
			flex-direction: row;
			box-sizing: border-box;
			padding-bottom: 90px;
		}

		.clearSystemDistribution .bg_Image {
			position: absolute;
			width: 21%;
			top: -77px;
			left: 8%;
		}

		.clearSystemDistribution .feedBackDetails {
			padding-left: 16%;
		}

		.example_image {
			width: 50%;
			display: inline-block;
			position: relative;
			bottom: -127px;
		}
		.example_image img {
			width: 100%;
			position: absolute;
			right: 0;
			bottom: 0;
		}

		/* bonusRule */
		.bonusRule {
			background-image: url("../images/affiliate-p-3-bg.svg");
			background-size: cover;
			background-repeat: no-repeat;
			background-position: top center;
			text-align: center;
			width: 100%;
			padding: 112px 0px 0 0px;
		}

		.ruleTile {
			background-image: url("../images/affiliate-p-3-chart@3x-min.png");
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 0 400px;
		}

		.ruleTile h1.main {
			font-size: 64px;
			font-weight: 600;
			line-height: 1.03;
			color: #ffffff;
			margin: 20px 0 27px 0;
		}

		.ruleTile p.sub {
			font-size: 16px;
			line-height: 1.63;
			color: #fff;
		}

		.ruleTabs {
			padding-top: 41px;
			width: 100%;
		}

		.ruleTabs .tab {
			border-radius: 23px;
			background-color: #ffffff;
			box-shadow: 0 0 30px 0 #bffffd;
			padding: 10px 50px;
			color: #20bec3;
			font-weight: 600;
			transition: all 1s;
			display: inline-block;
		}

		.restTabs .tabMargin {
			margin-right: 20px;
		}

		.restTabs .tabMargin.marginZero {
			margin-right: 0px;
		}



		.restTabs {
			font-size: 16px;
			font-weight: 400;
			line-height: 1.63;
			color: #fff;
		}

		.monthlyBettingAmount, .currentMemberAmount, .bonusRate {
			padding: 0px 75px;
			display: inline-block;
			border-right: 1px solid rgba(255, 255, 255,.3);
		}

		.rulecontent {
			padding-top: 58px;
			padding-bottom: 190px;
			width: 100%;
		}

		.rulecontent h1.main {
			font-size: 72px;
			line-height: 0.36;
			color: #f8e71c;
			padding-bottom: 17px;
		}

		.rulecontent p.sub {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.86;
			color: #037072;
		}

		/* boothRecruitment */
		.boothRecruitment {
			width: 100%;
			text-align: center;
			position: relative;
		}

		.downloadInstructment {
			width: 140px;
			height: 140px;
			background-color: #20bec3;
			border-radius: 70px;
			margin: 0 auto;
			z-index: 5;
			position: relative;
		}

		.downloadInstructment p.main {
			font-size: 18px;
			font-weight: 600;
			line-height: 1.89;
			color: #ffffff;
			letter-spacing: 1.8px;
			margin: 8px 0 -4px 0;
		}

		.downloadInstructment span.sub {
			font-size: 12px;
			line-height: 1.5;
			color: #fff;
		}

		.downloadInstructment .downloadFile {
			padding-top: 28px;
		}

		p.reference {
			font-size: 14px;
			line-height: 1.43;
			color: #4a4a4a;
			margin: 0 0 40px 0;
		}

		.boothRecruitment .bg_city {
			margin-top: -110px;
			padding-bottom: 150px;
		}

		.boothRecruitment .bg_cityMan {
			position: absolute;
			top: 298px;
			left: 50%;
			margin-left: -214.5px;
			z-index: 5;
		}

		/* contactUs */
		.contactUs {
			/*width: 100%;*/
			text-align: center;
			position: relative;
			padding-bottom: 70px;
		}

		.contactUs h2.main {
			font-size: 36px;
			font-weight: 600;
			line-height: 1.83;
			color: #4a4a4a;
			margin: 0 0 20px 0;
			letter-spacing: 1px;
		}

		.contactUs p.sub {
			font-size: 16px;
			line-height: 1.63;
			color: #4a4a4a;
			letter-spacing: 0.8px;
			margin: 0 auto;
			width: 50%;
		}

		.white_bg {
			background: #fff;
			color: #000;
		}

		.contactBox:hover {
			background: #000;
			color: #fff;
		}

		.contactBox {
			border-radius: 4px;
			box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
			padding: 12px 0;
			width: 32%;
			display: inline-block;
			margin: 1px 3px;
			font-size: 14px;
		}

		.white_bg_box {
			margin: 40px 0 10px 0;
		}

		.scrollTop {
			width: 54px;
			height: 54px;
			background-color: #9b9b9b;
			border-radius: 27px;
			margin: 50px auto 0 auto;
			cursor: pointer;
		}

		.contactUs .footer {
			font-size: 12px;
			line-height: 1.5;
			color: #4a4a4a;
			margin-top: 25px;
		}

		.scrollTop img.toTop {
			padding-top: 19px;
		}

		.contactBox .contactImg {
			vertical-align: middle;
			padding-right: 10px;
		}

		/* promoteDiscount */
		.promoteDiscount {
			width: 100%;
			position: relative;
			text-align: center;
			padding-bottom: 20px;
		}

		.promoteBox {
			display: flex;
			flex-direction: row;
			width: 100%;
			padding-left: 15%;
			position: relative;
			z-index: 5;
			box-sizing: border-box;
		}

		.promoteDiscount .bg-image {
			width: 100%;
			position: absolute;
			top: -160px;
			left: 0;
			z-index: 4;
		}

		.promoteTabs .promoteTab {
			border-radius: 23px;
			background-color: #20bec3;
			box-shadow: 0 0 30px 0 #bffffd;
			padding: 10px 50px;
			color: #fff;
			font-weight: 600;
			position: relative;
			z-index: 5;
			transition: all 1s;
		}

		.promoteTabs .tabMargin {
			margin-right: 20px;
		}

		.promoteTabs {
			font-size: 16px;
			font-weight: 600;
			line-height: 1.63;
			color: rgba(0,0,0, .6);
		}

		.promoteContent h1.main {
			font-size: 48px;
			font-weight: 600;
			line-height: 1.38;
			/*color: #4a4a4a;*/
			color: #000;
			margin: 0;
		}

		.promoteContent p.sub {
			font-size: 16px;
			line-height: 1.63;
			color: #4a4a4a;
			margin-top: 20px;
			padding-right: 30px;
			width: 64%;
		}

		.promoteTable {
			display: flex;
			flex-direction: column;
			vertical-align: middle;
			width: 50%;
		  padding: 0;
		  text-align: center;
		  box-sizing: border-box;
		  padding: 0 0 0 5%;
		}
		.promoteTable h3 {
			font-size: 24px;
			padding: 0 0 20px 0;
		}

		.promoteContent {
			width: 50%;
			text-align: left;
			padding: 3% 0 0 5%;
		}

		.tableColumn {
			display: inline-block;
			font-size: 14px;
			padding: 0 6%;
			border-right: 1px solid rgba(0,0,0,.3);
		}

		.tableColumn:last-child {
			border: none;
		}

		.promoteDiscount .isolationLine {
			background: rgba(0, 0, 0, .3);
			height: 140px;
			margin-top: 70px;
		}

		.center li {
		  background: #f7f7f7;
		  color: #ddd;
		  list-style-type: none;
		  padding: 1.5em 0;
		  margin: 0 auto;
		  width: 80%;
		  display: inline-block;
		  position: relative;
		  transition: all 0.5s;
		  font-size: 14px;
		  color: #666;
		  background: rgba(255,255,255,.3);
		  box-sizing: border-box;
		  border: 0px solid #20bec3;
		  white-space: nowrap;
		}
		.centerRest li {
		  background: #f7f7f7;
		  color: #ddd;
		  list-style-type: none;
		  padding: 1.5em 0;
		  margin: 0 auto;
		  width: 80%;
		  display: inline-block;
		  position: relative;
		  transition: all 0.5s;
		  font-size: 14px;
		  color: #666;
		  background: rgba(255,255,255,.3);
		  box-sizing: border-box;
		  border: 0px solid #20bec3;
		  white-space: nowrap;
		}

		div.center li:nth-child(2) {
		  background: rgba(255,255,255,1);
		  border: 8px solid #20bec3;; 
		  width: 100%;
		  font-size: 20px;
		  padding: 1em 0;
		  color: #000;
		  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
		}

		div.centerRest li:nth-child(2) {
		  background: rgba(255,255,255,1);
		  border: 8px solid #20bec3;; 
		  width: 100%;
		  font-size: 20px;
		  padding: 1em 0;
		  color: #000;
		  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
		}

		div.center li:nth-child(2) span {
			display: block;
			font-size: 14px;
	    color: #999;
	    font-weight: normal;
		}
		div.centerRest li:nth-child(2) span {
			display: block;
			font-size: 14px;
	    color: #999;
	    font-weight: normal;
		}
		div.center li:nth-child(2) span.correctMargin2mB {
			line-height: initial;
			margin-bottom: -2px;
		}
		div.centerRest li:nth-child(2) span.correctMargin2mB {
			line-height: initial;
			margin-bottom: -2px;
		}

		div.center li:nth-child(2) .tableColumn {
			font-size: 24px;
			font-weight: 400;
			border-right: 1px solid #20bec3;
		}
		div.centerRest li:nth-child(2) .tableColumn {
			font-size: 24px;
			font-weight: 400;
			border-right: 1px solid #20bec3;
		}

		div.center li:nth-child(2) .tableColumn:last-child {
			font-weight: 600;
			color: #20bec3;
			font-size: 28px;
			border: none;
		}
		div.centerRest li:nth-child(2) .tableColumn:last-child {
			font-weight: 600;
			color: #20bec3;
			font-size: 28px;
			border: none;
		}

		.center li:hover {
		  background: #FFF;
		}
		.centerRest li:hover {
		  background: #FFF;
		} 


		/* public setting */
		.borderNone {
			border: none;
		}

		