/* RWD mobile*/
@media only screen and (max-width: 1025px) {
	/* header setting */
	
	.app-home-Modal {
		background: rgba(0, 0, 0, 1);
		width: 100%;
		height: 100vh;
		position: absolute;
		// top: 0px;
		left: 0px;
		z-index: 13;
		padding: 50px 20px 20px 20px;
		text-align: center;
	}

	.closeModal {
		text-align: center;
		margin-bottom: 39px;
		display: inline-block;
	}
	.app-footer-center {
    margin-top: -120px;
	}

	.app-section .slogan {
		font-size: 42px;
	}

	.app-section .supplement {
		margin: 14px 0 0 0;
		font-size: 20px;
	}

	.contact, .goToHome {
		width: 48.5%;
		text-align: center;
		color: #fff;
	}

	.contact {
		margin-right: 3%;
	}

	.home-tab {
		color: #fff;
    font-size: 16px;
    text-align: center;
    padding: 8px 0 9px 0;
    border-bottom: 1px solid rgba(255,255,255,.1);
	}

	.home-tab.active {
		border-bottom: 1px solid #d0011b;
	}

	.main-home-tabs {
		margin-bottom: 13%;
	}

	.app-home-Modal .instruction {
		background: #666;
		border-radius: 2px;
		color: #FFF;
		text-align: center;
		padding: 10px 0; 
	}

	.app-home-Modal .instruction .mainImage{
		padding-right: 6px;
		vertical-align: text-bottom;
	}

	.app-home-Modal .flexBox {
		width: 100%;
		display: flex;
		flex-direction: row;
		margin-top: 8px;
	}

	.contact {
		background: #d0011b;
    padding: 10px 0 0 0;
	}

	.app-home-Modal .shareLogo {
		width: 32px;
		height: 32px;
		border-radius: 16px;
		background: #fff;
		text-align: center;
		margin: 0 auto;
	}

	.app-home-Modal .shareLogo img {
		padding-top: 9px;
	}

	.share {
		color: #fff;
		text-align: center;
		padding-top: 22px;
	}

	/* introduction container */
	.introduction {
		padding-bottom: 40px;
	}
	.introduction-content-container {
		width: 100%;
		padding: 20px;
	}
	.component-intro .main {
		font-size: 30px;
    padding: 32px 0 20px 0;
	}
	.component-intro .sub {
		font-size: 12px;
		width: 100%;
	}
	.component-intro img.example {
		margin-top: 35px;
	}

	.component-data-analysis .main {
		font-size: 30px;
		margin: 54px 0 0 0;
	}

	.component-data-analysis .sub {
		font-size: 12px;
	}
	.component-data-analysis .isolationLine {
		height: 40px;
		margin: 20px auto -22px auto;
	}
	.data .number {
		font-size: 19px;
		margin: 2px 0 5px 0;
	}
	.data .sub {
		font-size: 12px;
	}

	/* advantage banner-container */
	.platform_advantage {
		padding-bottom: 105px;
	}
	

	.platform_advantage .banner-accessory {
		width: 77%;
		z-index: 4;
		top: 0;
	}
	.platform_advantage .banner-container .main {
		font-size: 36px;
		padding-bottom: 14px;
		position: relative;
		z-index: 5;
	}
	.platform_advantage .banner-container .sub {
		font-size: 12px;
		width: 72%;
    position: relative;
    z-index: 10;
	}
	
	.quickEnter .feature_intro .intro_bg {
		left: 50%;
    margin-left: -59px;
	}
	.quickEnter .feature_intro {
		padding-top: 102px;
	}
	.quickEnter .feature_intro .intro_bg p, .feedBackDetails .feature_intro .intro_bg p {
		font-size: 130px;
	}
	.quickEnter .feature_intro .intro_bg {
		margin-left: -59px;
	}
	

	
	



	.quickEnter {
		padding-bottom: 49px;
	}
	.flexItem .main {
		font-size: 20px;
	}
	.flexItem .sub {
		font-size: 14px;
	}

	.data .memberTotal, .data .benefitTotal, .data .customerServiceTotal {
		padding: 20px 0;
	}




	.bg-blue {
		background: #1f8ded;
	}

	.bg-darker-blue {
		background: #5457c1;
	}

	.bg-cyan-blue {
		background: #0ebdca;
	}

	.feedBackStepsBox .steps {
		width: 100%;
		border-radius: 4px;
		position: relative;
		z-index: 5;
		margin-bottom: 10px;
		padding: 20px 10px;
	}

	.game_category {
		width: 100%;
		margin: 33px auto 0 auto;
		overflow: hidden;
		left: 0;
	}

	.bg-pink .width-50 .mainImage {
		padding: 20px 0 0 0;
	}

	.devicePC {
		display: none;
	}
	.devicePCBlock {
		display: none;
	}
	.devicePad {
		display: block;
	}
	.container {
		width: 100%;
	}
	.feedBackStepsBox.orderOnePC {
		display: block;
		order: 1;
	}
	.feedBackStepsBox.orderTwoPC {
		display: block;
		order: 2;
	}



}
@media screen and (min-width: 841px) and (max-width: 1024px) {

  .game_category .flexBox {
		width: 23%;
	}
	.gameImage img.mainImage {
		height: 162px;
	}
	.platform_advantage .banner-container {
		width: 90%;
	}
	.platform_advantage .banner-accessory {
		width: 58%;
	}
	.banner, .banner_content {
		width: 90%;
		margin: 0 auto;
	}
	.app-section .slogan {
		font-size: 40px;
	}
	.game_category {
		position: relative;
	}
	.platform_advantage .banner-container .main {
		font-size: 40px;
	}
	.platform_advantage .banner-container .sub {
		width: 45%;
		font-size: 14px;
	}
	.promoteBox, .promoteContent {
		padding-left: 5%;
	}
	.center {
		padding: 0;
	}
	.centerRest {
		padding: 0;
	}
	.feedBackStepsBox .bg_Image {
		position: absolute;
		width: 60%;
		top: 100px;
		left: 0;
		z-index: 4;
	}
	.steps .mainImage {
		padding: 10px 0 0 0;
	}
	.feedBackStepsBox {
		padding: 44px 0 0 100px;
	}
	.feedBackStepsBox .steps {
		margin-bottom: 16px;
	}
	.feature_intro p.sub {
		width: 100%;
	}
	.quickEnter
	.clearSystemDistribution .feedBackDetails {
		padding: 0;
	}
	.example_image {
		bottom: -57px;
		right: -51px;
	}
	.boothRecruitment {
		padding: 0 45px;
	}
	.boothRecruitment .bg_city {
		width: 100%;
		padding-bottom: 220px;
	}

	.width-50 {
		width: 50%;
	}

	.flexBox {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.quickEnter {
		padding-bottom: 129px;
	}
	.instantFeedback {
		padding-bottom: 268px;
	}
	.app-navbar-center {
		display: none;
	}
	.app-header {
		padding: 12px 3.5% 0px 3.5%;
		height: 54px;
	}
	.quickEnter .feature_intro .sub {
		width: 51%;
	}
	.clearSystemDistribution .feature_intro .sub {
		width: 92%;
	}
	.instantFeedback .feedBackDetails .feature_intro {
		padding: 95px 0 0 100px;
	}
	.clearSystemDistribution .feedBackDetails .feature_intro {
		padding: 95px 0 0 0;
	}
	.clearSystemDistribution .feedBackDetails {
		padding-left: 11%;
	}
	.clearSystemDistribution .feedBackDetails .feature_intro .intro_bg {
		top: -5%;
		left: -20%;
	}
	.ruleTile p.sub {
		width: 40%;
		margin: 0 auto;
	}
	.ruleTile .promoteContent p.sub {
		width: 89%;
		margin: 20px 0 0 0;
	}

	.promoteTable {
		padding: 0;
	}
	.devicePad {
		display: block;
	}
	.data .sub {
		font-size: 16px;
	}
	.component-data-analysis .sub {
		font-size: 16px;
	}


}
@media screen and (min-width: 415px) and (max-width: 840px) {
	.checkDevicePC {
		display: block;
	}

	.component-intro .sub {
		font-size: 14px;
		width: 68%;
	}

	.clearSystemDistribution .feature_intro .sub {
		width: 47%;
	}

	.game_category {
		margin: 57px auto 0 auto;
	}

	.quickEnter .feature_intro .sub {
		width: 69%;
	}


  .game_category .flexBox {
		width: 46%;
	}

	.egameImage img.subImage {
		left: 15%;
	}
	.platform_advantage .banner-accessory {
		width: 56%;
		top: -61px;
	}
	.platform_advantage .banner-container {
		width: 85%;
		padding: 100px 0 35px 0;
	}
	.data .sub {
		font-size: 16px;
	}
	.component-data-analysis .sub {
		font-size: 16px;
	}

	.banner, .banner_content {
		padding: 0 45px;
	}
	.gameImage img.mainImage.width-rwd {
		width: 80%;
	}
	.feedBackStepsBox, .feedBackDetails {
		width: 100%;
		padding: 40px 0 0 0;
	}
	.feedBackDetails .feature_intro .intro_bg {
		left: unset;
		right: 5%;
		top: 5%;
	}
	.clearSystemDistribution .feedBackDetails .feature_intro .intro_bg {
		left: 41px;
		top: -25%;
	}

	.stepsList {
		padding: 0 0 0 15%;
	}
	.feedBackStepsBox .bg_Image {
		position: absolute;
		width: 64%;
		top: 100px;
		left: 10%;
		z-index: 4;
	}

	.steps .mainImage {
		padding: 10px 0 0 0;
	}
	.width-50 {
		width: 50%;
	}

	.flexBox {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}

	.clearSystemDistribution .feedBackDetails {
		padding: 0;
	}
	.clearSystemDistribution {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	.example_image {
		bottom: 60px;
		width: 100%;
	}
	.instantFeedback {
		padding-bottom: 248px;
	}
	.clearSystemDistribution .feedBackDetails .feature_intro {
		padding: 35px 0 0 20px;
	}

	.example_image img {
		right: -45px;
		bottom: -85px;
		width: 63%;
	}

	.monthlyBettingAmount, .currentMemberAmount, .bonusRate {
		padding: 0;
		border: none;
	}
	.monthlyBettingAmount {
		width: 100%;
		padding-bottom: 15px;
	}

	.currentMemberAmount {
		float: left;
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255,.3);
	}
	.bonusRate {
		width: 50%;
	}

	.bonusRule {
		/*padding:  50px 45px 0 45px;*/
	}

	.center {
		padding: 0;
	}
	.centerRest {
		padding: 0;
	}
	.promoteBox {
		padding: 0 20px;
		flex-direction: column;
	}

	.promoteContent, .promoteTable {
		width: 100%;
		padding: 0;
		text-align: center;
	}

	.promoteTable {
		width: 85%;
		margin: 0 auto;
	}
	.promoteContent p.sub {
		width: 57%;
		padding: 0;
    margin: 30px auto 50px auto;
	}


	.promoteDiscount .restpromoteTabs .promoteTab {
		margin: 0;
    display: inline-block;
    padding: 10px 20px;
	}
	.boothRecruitment .bg_city {
		width: 100%;
    margin-top: 0px;
    padding-bottom: 80px;
	}
	.boothRecruitment .bg_cityMan {
		margin-top: -172px;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 44%;
	}
	.contactUs p.sub {
		width: 80%;
		margin: 0 auto;
	}
	.contactBox {
		width: 40%;
	}
	.promoteDiscount .bg-image {
		top: -78px;
	}

	.gameImage img.mainImage {
		width: 100%;
		height: auto;
	}
	.sportImage {
		padding-top: 7vw;
	}
	.egameImage {
		padding-top: 2.5vw;
	}

	.app-navbar-center {
		display: none;
	}
	.app-header {
		padding: 12px 3.5% 0px 3.5%;
		height: 54px;
	}
	.orderOnePad {
		order: 1;
	}
	.orderTwoPad {
		order: 2;
	}
	.promoteTabs .promoteTab {
		padding: 10px 60px;
	}

	.main-bg-video {
		display: none;
	}
	.devicePad {
		display: block;
	}


}
	

@media screen and (min-width: 320px) and (max-width: 414px) {
	.checkDevicePC {
		display: none;
	}
	.devicePhone {
		display: none;
	}
	.orderOnePad {
		order: 1;
	}
	.orderTwoPad {
		order: 2;
	}

	.main-bg-video {
		display: none;
	}

	.displayNonePhone {
		display: none;
	}

	.centerPhone {
		text-align: center;
	}
	.blockPhone {
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}

	.inlineBlockPhone {
		display: inline-block;
	}
	.contactBox:hover {
		background: #fff;
		color: #000;
	}

	.app-section .slogan {
		font-size: 26px;
	}

	.quickEnter .feature_intro .sub {
		width: 93%;
	}

	.promoteTable {
		width: 100%;
		padding: 0;
	}
	.promoteTabs .promoteTab {
		padding: 5px 30px;
	}

	div.center li:nth-child(2) span {
		font-size: 12px;
	}

	div.centerRest li:nth-child(2) span {
		font-size: 12px;
	}

	.app-section .supplement {
		font-size: 15px;
	}

	.app-header {
		padding: 12px 3.5% 0px 3.5%;
		height: 54px;
	}

	.egameImage {
		padding-top: 2.5vw;
	}
  .game_category .flexBox {
		width: 85%;
		margin: 0 auto;
	}

	.gameImage img.mainImage.width-rwd {
		width: 75%;
	}

	.feedBackStepsBox {
		padding: 0;
	}
	.feedBackStepsBox, .feedBackDetails {
		width: 100%;
		padding-top: 40px;
	}
	.clearSystemDistribution .bg_Image {
		width: 100%;
		left: 0;
	}
	.clearSystemDistribution .example_image {
		width: 100%;
		left: 0;
		bottom: -45px;
	}
	.clearSystemDistribution {
		display: block;
	}
	.clearSystemDistribution .feedBackDetails {
		padding: 0 20px;
	}
	.example_image img {
		position: relative;
	}
	.bonusRule {
		padding: 0;
	}
	.ruleTile {
		padding: 42px 20px 0 20px;
	}
	.ruleTile h1.main {
		font-size: 36px;
		text-align: center;
	}
	.ruleTile span.sub {
		font-size: 14px;
	}
	.ruleTabs {
		padding-top: 24px;
		text-align: center;
	}
	.ruleTabs .tab {
		padding: 5px 30px;
	}
	.app-home-Modal .contact, .app-home-Modal .goToHome {
		width: 48.5%;
		text-align: center;
		color: #fff;
	}
	.app-home-Modal .contact {
		margin-right: 3%;
	}
	.monthlyBettingAmount, .currentMemberAmount, .bonusRate {
		padding: 0;
		border: none;
	}
	.monthlyBettingAmount {
		width: 100%;
		padding-bottom: 15px;
	}
	.currentMemberAmount {
		float: left;
    width: 50%;
    border-right: 1px solid rgba(255, 255, 255,.3);
	}
	.bonusRate {
		width: 50%;
	}
	.rulecontent {
		padding-top: 24px;
		padding-bottom: 86px;
	}

	.rulecontent h1.main {
		padding: 0;
	}
	.promoteBox {
		padding: 0;
		flex-direction: column;
	}
	.center {
		width: 100%;
		padding: 0;
		margin: 20px 0 0 0;
	}
	.centerRest {
		width: 100%;
		padding: 0;
		margin: 20px 0 0 0;
	}
	.tableColumn {
		padding: 0 4%;
		font-size: 12px;
		vertical-align: middle;
	}
	.promoteContent {
		width: 100%;
		padding-top: 0px;
	}
	.restpromoteTabs .promoteTab {
		margin: 0;
		display: inline-block;
		padding: 10px 20px;
	}
	.promoteContent p.sub {
		font-size: 12px;
		padding: 16px 20px;
		text-align: center;
		width: 100%;
	}
	.promoteTable h3 {
		padding: 20px 0 0 0;
	}
	.promoteDiscount .isolationLine {
		height: 70px;
		margin-top: 35px;
	}
	.boothRecruitment .bg_city {
		margin-top: 18px;
		padding-bottom: 80px;
		width: 100%;
	}
	.boothRecruitment .bg_cityMan {
		margin-top: -118px;
    position: relative;
    top: 0;
    left: 0;
    margin-left: 0;
    width: 60%;
	}
	.contactUs h2.main {
		font-size: 32px;
		margin: 40px 0 20px 0;
	}
	.contactBox {
		width: 100%;
		margin: 8px 0 0 0;
	}
	.feedBackStepsBox .bg_Image {
		position: absolute;
		width: 100%;
		top: 100px;
		left: 0;
		z-index: 4;
	}
	.contactUs p.sub {
		width: 90%;
	}
	

	

	.mainStep {
		padding: 16px 0;
	}
	.flexBox {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
	}
	.width-50 {
		width: 50%;
	}

	.clearSystemDistribution .feedBackDetails .feature_intro .intro_bg {
		left: unset;
		right: 0;
	}

	div.center li:nth-child(2) .tableColumn {
		font-size: 15px;
		font-weight: 400;
		border-right: 1px solid #20bec3;
	}
	div.centerRest li:nth-child(2) .tableColumn {
		font-size: 15px;
		font-weight: 400;
		border-right: 1px solid #20bec3;
	}

	div.center li:nth-child(2) .tableColumn:last-child {
		font-weight: 600;
		color: #20bec3;
		font-size: 20px;
		border: none;
	}

	div.centerRest li:nth-child(2) .tableColumn:last-child {
		font-weight: 600;
		color: #20bec3;
		font-size: 20px;
		border: none;
	}

	.stepsList {
		margin-top: 24px;
		padding-left: 55px;
	}
	.flexItem {
		padding-bottom: 10px;
	}

	.platform_advantage .banner-container {
		width: 100%;
		padding: 100px 0 35px 0;
	}

	.feature_intro .main, .feedBackDetails .feature_intro h3 {
		font-size: 28px;
	}

	.feature_intro .sub {
		font-size: 12px;
	}

	.clearSystemDistribution .feature_intro .sub {
		width: 93%;
	}

	.banner, .banner_content {
		padding: 0;
	}

	.feedBackDetails .feature_intro {
		padding: 75px 0 0 50px;
	}
	.instantFeedback .feedBackDetails .feature_intro {
		padding: 75px 0 0 10px;
	}
	.clearSystemDistribution .feedBackDetails .feature_intro {
		padding: 75px 0 0 0px;
	}

	.platform_advantage .banner {
		padding: 0 20px;
	}
	.sportImage {
		padding-top: 7vw;
	}
	.steps .mainImage {
		padding: 10px 0 0 0;
	}

	.egameImage img.mainImage {
		height: 182px;
		left: -15px;

	}
	.promoteTabs .tabMargin:last-child {
		margin-right: 0;
	}
	.promoteContent {
		padding: 0;
	}
	.quickEnter {
		padding: 0 20px 49px 20px;
	}
	.instantFeedback {
		padding: 0 20px 328px 20px;
	}
	.devicePad {
		display: block;
	}
	.gameImage img.mainImage {
		height: unset;
	}
	.lotteryImage img.mainImage {
		width: 100%;
	}
	.egameImage img.mainImage {
		width: 95%;
	}

}
